<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="index.config.js"></script>
<script src="index.service.js"></script>
<script src="index.controller.js"></script>
<script src="index.js"></script>
<style>
  .display, .panel {
  width: 9em;
  text-align: center;
}
.display {
  margin: auto;
}
.display div {
  display: inline-block;
  margin: 0.2em;
}
.number {
  padding: 0.2em;
  width: 2em;
  text-align: right;
}
.numbers {
  padding: 0.2em;
  width: 2em;
  color:orange;
  font-size: 18px;
 
}
#up-indicator.lit {
  color: green;
}
#down-indicator.lit {
  color: red;
}
.panel {
  margin: auto;
}
.panel button {
  display: block;
  margin: auto;
  width: 3em;
}
.panel button.lit {
  color: red;
}
.floors button.lites {
  color: red;
}
.spandisplay{
  display: block;
}
.spanhide{
  display: none;
}

</style>

<table style="width: 100%;">
  <tr>
    <td>
        <div class="display">
            <div class="arrow" id="down-indicator">⬇︎</div>
            <div class="number" id="floor-number"></div>
            <div class="arrow" id="up-indicator">⬆︎</div>
        </div>
      <div class="panel">
        <button value="10">10</button>
        <button value="9">9</button>
        <button value="8">8</button>
        <button value="7">7</button>
        <button value="6">6</button>
        <button value="5">5</button>
        <button value="4">4</button>
        <button value="3">3</button>
        <button value="2">2</button>
        <button value="1">1</button>
        <button value="0">G</button>
        
      </div>
    </td>
    <td>
      <div class="floors">
        <button value="up">Up</button>
        <div class="number" id="floor-number"></div>
        <button value="down">Down</button>
      </div>
    </td>
  </tr>
</table>


